{% extends "base.html" %}

{% block content %}
    <form form method="POST">
        {% csrf_token %}
        Priority: {{form.priority}}
        <input type="submit" value="Show" id="form_submit">
    </form>
    <table border=1>
    <tr>
        <td>Number
        <td>Date
        <td>Method
        <td>Protocol
        <td>Remote addr
        <td>Path info
        <td>Priority
    {% for request in requests %}
    <tr>
        <td>{{ request.id }}
        <td>{{ request.date }}
        <td>{{ request.method }}
        <td>{{ request.protocol }}
        <td>{{ request.remote_addr }}
        <td>{{ request.path_info }}
        <td width="100">Priority: {{ request.priority }}
    {% endfor %}
    </table>
{% endblock content %}

{% block footer_menu %}
    <a href="/">main page</a>
{% endblock footer_menu %}